$black: rgb(25, 25, 25);
$white: rgb(253, 253, 253);
$gray-lightest: rgb(248, 246, 243);
$gray-light: rgb(229, 224, 212);
$gray-dark: rgb(115, 110, 106);

$color-1: #fa7c92; $color-1-accent: #251212;
$color-2: #6ec4db; $color-2-accent: #142329;
$color-3: #fff7c0; $color-3-accent: #2f2a21;
$color-4: #66ab8c; $color-4-accent: #102820;

$header-height: 4em;
$menu-overview-height: 2em;
$footer-height: 5em;

.style-class-0 {
  color: $white;
  background: $black;
}

.style-class-1 {
  color: $black;
  background: $color-1;
}

.style-class-2 {
  color: $black;
  background: $color-2;
}

.style-class-3 {
  color: $black;
  background: $color-3;
}

.style-class-4 {
  color: $black;
  background: $color-4;
}

.clickable {
  cursor: pointer;
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
}

.invert-colors {
  filter: invert(100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  position: relative;  // for footer
  min-height: 100%;
}

.lunchbot-header {
  height: $header-height;
  line-height: $header-height;
  background: $black;
  z-index: 9999;
}

.lunchbot-main {
  margin-bottom: $footer-height;
}

.lunchbot-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background: $gray-lightest;
}

.lunchbot-header-button {
  height: 2.5em;
  z-index: 9999;
}

.lunchbot-food-service-anchor,
.lunchbot-food-service-anchor:hover,
.lunchbot-food-service-anchor:focus {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  padding: 16px;
  font-weight: 700;
}

.lunchbot-food-service-div {
  overflow: hidden;
}

.lunchbot-menu-overview-bar {
  height: $menu-overview-height;
  line-height: $menu-overview-height;
  color: $white;
  font-weight: 300;
  font-size: 1em;
  top: $header-height;
}

.lunchbot-menu-overview-bar-info-button {
  position: absolute;
  top: 5px;
  right: 1.5em;
  height: 1.5em;
}

.lunchbot-menu-overview-title {
  border-top: 1px dashed $gray-dark;
  z-index: 9999;
  background: $black;
}

.lunchbot-menu-overview {
  border-top: 1px dashed $gray-dark;
  position: relative;
  background: $black;
  z-index: -9999;
}

.lunchbot-menu-item {
  font-size: 1.25em;
  border-bottom: 1px dotted $gray-light;
  padding: 16px 0px;
  background: $white;
}

.lunchbot-header-search-input{
  text-align: center;
  width: 100%;
  color: $white;
  background: transparent;
  border: none;
  border-bottom: 2px dashed $white;
  height: calc(#{$header-height} - 1em);
}
