### Java ###
*.class
*.jar

### Gradle ###
**/.gradle
**/gradle/
!gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/
backend/build
backend/src/main/resources/application.properties

### OS ###
.DS_Store
Thumbs.db

### JS ###
**/node_modules
**/scripts
frontend/start-dev
