### Java ###
*.class
*.jar

### Gradle ###
**/.gradle
**/gradle/
!gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/

### OS ###
.DS_Store
Thumbs.db

### JS ###
**/node_modules
**/scripts
